*{
    box-sizing: border-box;
}
html{
    font-size:10px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2.5rem;
}
body{
    margin: 0;
    padding: 0;
    font-size:1.6rem;
    width: 100%;
}
.topbar {
    background-color: #16A086;
    height:10rem;
    padding:2rem 0  2rem 0;
}
.nav{
    height: 4rem;
    padding: 1rem 0 1rem 0;
    font-size: 2rem;
    background-color: #1BBC9A;
    width: 55%;

}

.nav a {
    text-decoration: none;
    color: white;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
}
.topbar .nav .active {
    background-color: white;
    color: green;
    padding-top: 1.2rem;
    padding-bottom: .8rem;
}
.topbar .nav a:hover {
    background-color: white;
    color: green;
    padding-top: 1.2rem;
    padding-bottom: .8rem;
}

/* HEROES SECTION  */
.heroes-section{
    background-color: #F3F3F3;
    padding: 4rem .5rem ;
    /* height: 25rem; */
}
.heroes-section h1 {
    font-size: 5rem;
    font-weight:900;
    text-align: center;
}
.description, .title, .button {
    text-align: center;
}
.title{
    font-weight: 900;
}
/* SERVICES SECTIONS  */
.services-section {
    padding: 6rem 2rem;
    display: flex;
    gap:10rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button a {
    text-decoration: none;
    color: white;
}
.button{
    text-decoration: none;
   color: white;
   background-color: green; 
   padding: 1rem 5rem;
   border:none;
   border-radius:.5rem;
}

footer{
    background-color: green;
    color: white;
    padding: .8rem ;
    position: relative;
    bottom:0;
    left:0;
    right:0;
}