*{
    box-sizing:border-box;
}
html{
    /* On utilise cette dimension pour les facilités de calcul, Rappel 1rem=10px alors 1.6rem=16px ...2rem=20px.....  */
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #1F1F1F;
    line-height: 2.5rem;
}
.principal{
    /* width: 90%;
    max-width: 1200px; */
    height: 100%;
    width: 80vw;
    margin:10rem auto;
    /* background-color: green; */
}
.header nav a {
    text-decoration: none;
    color: black;
    list-style: none;
}

.header{
    background-color: #B91EC2;
    margin-bottom:.4rem;
    display: flex;
    height: 6rem;
    vertical-align: middle;
    align-items: center;
}
.header nav a:hover{
    background-color: white;
    padding-top: 1.8rem; 
    padding-bottom:2rem;
}
.header nav .active{
    background-color: white;
    padding-top: 1.8rem; 
    padding-bottom:2rem;
}
.header-right{
    display: flex;
    gap:1rem;
}
.header nav{

    width:70%;
    padding-left: 1.5rem;

}
.header nav a {
    padding:  0 4.5rem;
    font-size: 1.8rem;
    justify-content: space-between;

}
input[type="search"]{
    padding: .9rem;
    border:none;

}
.button{
    padding: .9rem 3.5rem;
    background-color: white;
    border:none;
}

/* Section principale  */
.primary-content {
    width: 80%;
    color:black;
    background-color: white;
    font-size:1.6rem;
    margin-right:.4rem;
    padding: 1rem 1rem;
}
h1{
    font-size: 2.4rem;
    text-align:center;
}
h2{
    font-size: 2rem;
}

/* Section seconaire  */
.secondary-content{
    width: 20%;
    color:black;
    background-color: #B91EC2;
    font-size:1.6rem;
    padding: 2rem 1rem;
}
.secondary-content ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
}
.secondary-content ul li  {
    list-style: none;
}
.aside-title{
    text-align: center;
}

main{
    display: flex;
}

/* Footer  */
footer{
    background-color: white;
    font-size:1.6rem;
    margin-top: .4rem;
    padding: .2rem;
}
footer p {
    text-align: left;
    padding-left: .4rem;
}